@import './color.css';

.detail{
    padding: 1rem;
}

.detail_image{
    max-height: 50%;
    padding: 0.75rem;
    border: 4px solid var(--pink);
}

.detail .content{
    width: 45vw;
    float: right;
    margin-left: 2.5rem;
}

.detail .image_color{
    width: 12rem;
    height: 4.5rem;
    padding: 0.75rem;
    border: 2px solid rgb(58, 56, 56);
}
button{
  padding: 10px;
  font-family: 'Press Start 2P',cursive;
  font-size:medium;
  text-decoration: underline;
}

button:hover{
 color: rgb(253, 249, 249);
 background-color: palevioletred;
}